/* 640 x 480px */
.folio-col-4-img-crop {
  object-fit:cover;
  /*width: 355px;
  height: 270px;*/
}

.project-hover {
  cursor: url(../images/slide/1bookL.png), auto;
}

footer .contact-form-widget .form-control {
    background-color: transparent;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgba(96, 155, 255, 1); /*#ececec*/
    font-weight: normal
}

/*Slider Cursor*/
.carousel-control.left:hover {
    cursor: url(../images/slide/peacock-02.png), auto;
}

.carousel-control.right:hover {
    cursor: url(../images/slide/peacock-01.png), auto;
}

/*Heading Decoration Fix*/

.heading:before {
    width: 30px;
    bottom: -224px;
    position: absolute;
}

.heading-left:before,
.heading-right:before {
    width: 30px;
    bottom: -24px;
}

.heading:after {
  width: 40px;
  bottom: -229px;
  position: absolute;
}

.heading-left:after,
.heading-right:after {
    width: 40px;
    bottom: -29px;
}

.heading-left {
    text-align: left;
    position: relative;
}

.heading-right {
    text-align: right;
    position: relative;
}

/*.menu-transparent.push-top {
    margin-top: 30px
}*/

/*@media (max-width: 992px) {
    .navbar-header {
      top:0px;
    }
    .main-nav {
        top:0px;
    }
}*/

/*For responsive.css to fix parallax*/
/*.parallax {
    background-position: center;
    background-attachment: scroll;
}*/
.parallax-mobile {

}

@media (max-width:400px) {
  .parallax-mobile {
      background-position: center;
      background-attachment: scroll;
  }
}

/*Mobile Hide*/

.mobile-hide,
.desktop-hide, {

}

@media (max-width:400px) {
  .mobile-hide {
    display:none;
  }
}

@media (min-width:400px) {
  .desktop-hide {
    display:none;
  }
}
